# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Scipy

| Data Science Tools |
|--------------------|
| Jupyter Notebook |
| RStudio|
| GitHub|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(20+5)*4

100

In [5]:
# This will convert 200 minutes to hours by diving by 60
200.0/60

3.3333333333333335

**Objective:**

* List popular languages for Data Science
* List commonly used libraries
* Evaluate arithmetic expression

## Author
CHE-WEI NIEN